<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulariohc</title>
</head>
<body class="body-form">
    <nav>
        <div class="container-logo">
            <img class="logo" src="../img/cammec-1.png" alt="IMG">
        </div>
    </nav>
    <main>
        <div class="container">
            <a href="../index.html">Encuesta</a>
            <section class="section-one">
                <h3>1 - Medio de Transporte mas utilizado(Puede marcar varios).</h3>
                <label>
                    <input type="radio" value="1"> Transporte Publico
                </label>
                <label>
                    <input type="radio" value="2"> Vehiculo Propio Naftero
                </label>
                <label>
                    <input type="radio" value="3"> Vehiculo Propoio Diesel
                </label>
                <label>
                    <input type="radio" value="4"> Vehiculo Propoio Electrico
                </label>
                <label>
                    <input type="radio" value="5"> Motocicleta
                </label>
                <label>
                    <input type="radio" value="6"> Bicicleta
                </label>
            </section>
            <section class="section-two">
                <h3>2 - Distancia recorrida por semana.</h3>
                <label>
                    <input type="radio" value="1"> 0-50km
                </label>
                <label>
                    <input type="radio" value="2"> 50-100km
                </label>
                <label>
                    <input type="radio" value="3"> 100-150km
                </label>
                <label>
                    <input type="radio" value="4"> Mas de 150km
                </label>
            </section>
            <section class="section-three">
                <h3>3 - Seleccione los electrodomesticos y la cantidad de estos que posee en su casa(Puede marcar varios).</h3>
                <label>
                    <input type="radio" value="1"> Heladera
                </label>
                <hr>
                <label>
                    <input type="radio" value="2"> Lavarropas
                </label>
                <hr>
                <label>
                    <input type="radio" value="3"> Lavavajilla
                </label>
                <hr>
                <label>
                    <input type="radio" value="4"> Secarropas
                </label>
                <hr>
                <label>
                    <input type="radio" value="5"> Televisor
                </label>
                <hr>
                <label>
                    <input type="radio" value="6"> Computadora
                </label>
                <hr>
                <label>
                    <input type="radio" value="7"> Equipo de Musica
                </label>
            </section>
            <section class="section-four">
                <h3>4 - Alimentos consumidos preferentemente.</h3>
                <label>
                    <input type="radio" value="1"> Origen Animal
                </label>
                <label>
                    <input type="radio" value="2"> Origen Vegetal
                </label>
                <label>
                    <input type="radio" value="3"> Ultra Procesados
                </label>
                <label>
                    <input type="radio" value="4"> De Proximidad
                </label>
                <label>
                    <input type="radio" value="5"> Importados
                </label>
            </section>
            <section class="section-five">
                <h3>5 - Cuantos arboles ha plantado.</h3>
                <label>
                    <input type="radio" value="1"> Ninguno
                </label>
                <label>
                    <input type="radio" value="2"> 0-5
                </label>
                <label>
                    <input type="radio" value="3"> 5-10
                </label>
                <label>
                    <input type="radio" value="4"> Mas de 10
                </label>
            </section>
            <button class="btn-enviar">Enviar</button>
        </div>
    </main>

    <script src="../js/index.js"></script>
</body>
</html>