<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulariohc</title>
</head>
<body class="body-form">
    <main>
        <form action="#" method="post" class="container">
            <fieldset class="fieldset-one">
                <h3>1 - Medio de Transporte mas utilizado.</h3>
                <label>
                    <input type="radio" value="1" name="vehiculo"> Transporte Publico
                </label>
                <label>
                    <input type="radio" value="2" name="vehiculo"> Vehiculo Propio Naftero
                </label>
                <label>
                    <input type="radio" value="3" name="vehiculo"> Vehiculo Propoio Diesel
                </label>
                <label>
                    <input type="radio" value="4" name="vehiculo"> Vehiculo Propoio Electrico
                </label>
                <label>
                    <input type="radio" value="5" name="vehiculo"> Motocicleta
                </label>
                <label>
                    <input type="radio" value="6" name="vehiculo"> Bicicleta
                </label>
            </fieldset>
            <fieldset class="fieldset-two">
                <h3>2 - Distancia recorrida por semana.</h3>
                <label>
                    <input type="radio" value="1" name="distanciar"> 0-50km
                </label>
                <label>
                    <input type="radio" value="2" name="distanciar"> 50-100km
                </label>
                <label>
                    <input type="radio" value="3" name="distanciar"> 100-150km
                </label>
                <label>
                    <input type="radio" value="4" name="distanciar"> Mas de 150km
                </label>
            </fieldset>
            <fieldset class="fieldset-three">
                <h3>3 - Seleccione los electrodomesticos y la cantidad de estos que posee en su casa(Puede marcar varios).</h3>
                <label>
                    <input type="radio" value="1"> Heladera
                </label>
                <label>
                    <input type="radio" value="2"> Lavarropas
                </label>
                <label>
                    <input type="radio" value="3"> Lavavajilla
                </label>
                <label>
                    <input type="radio" value="4"> Secarropas
                </label>
                <label>
                    <input type="radio" value="5"> Televisor
                </label>
                <label>
                    <input type="radio" value="6"> Computadora
                </label>
                <label>
                    <input type="radio" value="7"> Equipo de Musica
                </label>
            </fieldset>
            <fieldset class="fieldset-four">
                <h3>4 - Alimentos consumidos preferentemente.</h3>
                <label>
                    <input type="radio" value="1" name="alimento"> Origen Animal
                </label>
                <label>
                    <input type="radio" value="2" name="alimento"> Origen Vegetal
                </label>
                <label>
                    <input type="radio" value="3" name="alimento"> Ultra Procesados
                </label>
                <label>
                    <input type="radio" value="4" name="alimento"> De Proximidad
                </label>
                <label>
                    <input type="radio" value="5" name="alimento"> Importados
                </label>
            </fieldset>
            <fieldset class="fieldset-five">
                <h3>5 - Cuantos arboles ha plantado.</h3>
                <label>
                    <input type="radio" value="1" name="cantarboles"> Ninguno
                </label>
                <label>
                    <input type="radio" value="2" name="cantarboles"> 0-5
                </label>
                <label>
                    <input type="radio" value="3" name="cantarboles"> 5-10
                </label>
                <label>
                    <input type="radio" value="4" name="cantarboles"> Mas de 10
                </label>
            </fieldset>
            <button class="btn-enviar">Enviar</button>
        </form>
    </main>

    <script src="../js/index.js"></script>
</body>
</html>