@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Rubik:wght@300&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    background-image: url('https://s2.best-wallpaper.net/wallpaper/1920x1080/1705/Forest-trees-sky-clouds-view-from-bottom_1920x1080.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: auto;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #0FBB60;
    height: 70%;
    width: 45%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.primero{
    text-align: center;
    height: 25%;
    width: 100%;
}

.segundo{
    text-align: center;
    height: 20%;
    width: 100%;
}

.p-one{
    margin-top: 40px;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.p-two{
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.tercero{
    text-align: center;
    height: 35%;
    width: 100%;
}

h1{
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 60px;
}

.cuarto{
    text-align: center;
    height: 20%;
    width: 100%;
}

h3{
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
}

.img-pies{
    height: 100%;
    width: 50%;
    margin: auto;
}